@import "../../styles/variables";

.card {
  background-color: #fff;
  padding: 1.5rem 2.5rem;

  @media (max-width: 768px) {
    padding: 0.8rem 0.5rem;
  }
  &__skills {
    margin-bottom: 1rem;
  }

  &__link {
    color: #000;
    text-decoration: underline;
  }
  h5 {
    font-size: $font-md;
  }
  p {
    display: inline-block;
    margin-bottom: 0.8rem;
  }
}
